#content {
    margin: auto;
    width: 75%;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}

table {
    margin-top: 20px;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f0f0f0;
}

tr {
    width: 25%;
}

td {
    height: 24px;
}

.done {
    text-decoration: line-through;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
}

#poista_valitut {
    width: 100%;
    text-align: right;
}